<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alfabet</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <input type="checkbox" id="sidebar-toggle">
    <label for="sidebar-toggle" class="openbtn">Menu</label>

    <div class="sidebar">
        <label for="sidebar-toggle" class="closebtn">&times;</label>
        <a href="/">Home</a>
        <a href="/alfabet">Alfabet</a>
        <a href="/upload">Upload</a>
        <a href="/webcam">Live Camera</a>
    </div>

    <div class="main-content">
        <h1>Alfabet</h1>
        <p>Pelajari alfabet Sistem Isyarat Bahasa Indonesia (SIBI) di sini. Berikut ini disediakan gambar untuk setiap huruf, sehingga Anda bisa belajar dengan visual yang jelas dan mudah dipahami. Cocok untuk anda yang ingin mengenal dasar-dasar sistem bahasa isyarat.</p>
        
        <!-- Tambahkan galeri gambar di sini -->
        <div class="gallery">
            <figure>
                <img src="../static/css/alfabet/A.jpg" alt="A">
                <figcaption><strong>A</strong></figcaption>
            </figure>
            <figure>
                <img src="../static/css/alfabet/B.jpg" alt="B">
                <figcaption><strong>B</strong></figcaption>
            </figure>
            <figure>
                <img src="../static/css/alfabet/C.jpg" alt="C">
                <figcaption><strong>C</strong></figcaption>
            </figure>
            <figure>
                <img src="../static/css/alfabet/D.jpg" alt="D">
                <figcaption><strong>D</strong></figcaption>
            </figure>
            <figure>
                <img src="../static/css/alfabet/E.jpg" alt="E">
                <figcaption><strong>E</strong></figcaption>
            </figure>
            <figure>
                <img src="../static/css/alfabet/F.jpg" alt="F">
                <figcaption><strong>F</strong></figcaption>
            </figure>
            <figure>
                <img src="../static/css/alfabet/G.jpg" alt="G">
                <figcaption><strong>G</strong></figcaption>
            </figure>
            <figure>
                <img src="../static/css/alfabet/H.jpg" alt="H">
                <figcaption><strong>H</strong></figcaption>
            </figure>
            <figure>
                <img src="../static/css/alfabet/I.jpg" alt="I">
                <figcaption><strong>I</strong></figcaption>
            </figure>
            <figure>
                <img src="../static/css/alfabet/J.jpg" alt="J">
                <figcaption><strong>J</strong></figcaption>
            </figure>
            <figure>
                <img src="../static/css/alfabet/K.jpg" alt="K">
                <figcaption><strong>K</strong></figcaption>
            </figure>
            <figure>
                <img src="../static/css/alfabet/L.jpg" alt="L">
                <figcaption><strong>L</strong></figcaption>
            </figure>
            <figure>
                <img src="../static/css/alfabet/M.jpg" alt="M">
                <figcaption><strong>M</strong></figcaption>
            </figure>
            <figure>
                <img src="../static/css/alfabet/N.jpg" alt="N">
                <figcaption><strong>N</strong></figcaption>
            </figure>
            <figure>
                <img src="../static/css/alfabet/O.jpg" alt="O">
                <figcaption><strong>O</strong></figcaption>
            </figure>
            <figure>
                <img src="../static/css/alfabet/P.jpg" alt="P">
                <figcaption><strong>P</strong></figcaption>
            </figure>
            <figure>
                <img src="../static/css/alfabet/Q.jpg" alt="Q">
                <figcaption><strong>Q</strong></figcaption>
            </figure>
            <figure>
                <img src="../static/css/alfabet/R.jpg" alt="R">
                <figcaption><strong>R</strong></figcaption>
            </figure>
            <figure>
                <img src="../static/css/alfabet/S.jpg" alt="S">
                <figcaption><strong>S</strong></figcaption>
            </figure>
            <figure>
                <img src="../static/css/alfabet/T.jpg" alt="T">
                <figcaption><strong>T</strong></figcaption>
            </figure>
            <figure>
                <img src="../static/css/alfabet/U.jpg" alt="U">
                <figcaption><strong>U</strong></figcaption>
            </figure>
            <figure>
                <img src="../static/css/alfabet/V.jpg" alt="V">
                <figcaption><strong>V</strong></figcaption>
            </figure>
            <figure>
                <img src="../static/css/alfabet/W.jpg" alt="W">
                <figcaption><strong>W</strong></figcaption>
            </figure>
            <figure>
                <img src="../static/css/alfabet/X.jpg" alt="X">
                <figcaption><strong>X</strong></figcaption>
            </figure>
            <figure>
                <img src="../static/css/alfabet/Y.jpg" alt="Y">
                <figcaption><strong>Y</strong></figcaption>
            </figure>
            <figure>
                <img src="../static/css/alfabet/Z.jpg" alt="Z">
                <figcaption><strong>Z</strong></figcaption>
            </figure>
        </div>
    </div>
</body>
</html>
