<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIBI</title>
    <link rel="stylesheet" href="./static/css/style.css">
</head>
<body>
    <input type="checkbox" id="sidebar-toggle">
    <label for="sidebar-toggle" class="openbtn">Menu</label>

    <div class="sidebar">
        <label for="sidebar-toggle" class="closebtn">&times;</label>
        <a href="/">Home</a>
        <a href="/alfabet">Alfabet</a>
        <a href="/upload">Upload</a>
        <a href="/webcam">Live Camera</a>
    </div>

    <div class="main-content">
        <h1>Selamat Datang Di Website Penerjemah Sistem Isyarat Indonesia (SIBI)</h1>
        <p>Website ini merupakan alat untuk membantu anda belajar dan menerjemahkan alfabet Sistem Isyarat Bahasa Indonesia (SIBI) dengan mudah.<br> Berikut adalah fitur-fitur yang ada dalam website ini untuk mempermudah anda dalam memahami bahasa isyarat Indonesia.</p>
        <dl>
            <dt>Alfabet</dt>
            <p>Daftar lengkap alfabet dalam Sistem Isyarat Bahasa Indonesia (SIBI)</p>
            <dt>Upload</dt>
            <p>Fitur untuk mengunggah gambar Sistem Isyarat Bahasa Indonesia (SIBI) untuk diterjemahkan.</p>
            <dt>Live Cam</dt>
            <p>Fitur kamera langsung untuk menerjemahkan Sistem Isyarat Bahasa Indonesia (SIBI) secara real-time.</p>
        </dl>
    </div>
</body>
</html>
